<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>VoteGPT - Elections in {{ country }}</title>
        <!-- description -->
        <meta
          name="description"
          content="KNOW YOUR CANDIDATES, LEAD THE CHANGE."
        />
        <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
        <link rel="manifest" href="static/site.webmanifest">
    </head>
    <body>
        <h1>Elections in {{ country }}</h1>
        <ul>
            {% for election in elections %}
            <li>
                <a
                    href="{{ url_for('main.get_election', election_id=election.id) }}"
                    >{{ election.name }} ({{ election.date }})</a
                >
            </li>
            {% endfor %}
        </ul>
        <a href="/">Go back</a>
    </body>
</html>
